@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import 'tailwindcss';

* {
  font-family: "Montserrat", serif, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* overflow-x:scroll; */
  box-sizing: border-box;
}